.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background: linear-gradient(to right, rgb(15, 4, 33), rgb(0, 179, 255), rgb(15, 4, 33)) !important;
  height: 50px;
}

.cart_div {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  position: relative;

}

.cart_div img {
  width: 35px;
}


.cart_div span {
  float: right;
  position: absolute;
  z-index: 10;
  top: -8px;
  color: white;
  right: 13px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  border: 1px solid thistle;
  /* padding: 5px; */
  margin: 5px;
}

.Logo1 {
  float: left;
  margin: 0;
  padding: 5px;
  color: #1882e9eb;
}

.cart-page-container {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}

.cart-page-container table {
  flex: 65%;
  border-collapse: collapse;
}

.cart-page-container table td,
th {
  border: 1px solid #414d59eb;
  padding: 10px;
}

.price-details {
  margin: 10px 30px;
  flex: 30%;
}

.price-details .adjust-price {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #414d59eb;
  border-radius: 10px;
}

.price-details .adjust-price span {
  font-size: 20px;
}

.search-box {
  float: left;
  padding: 10px;
  width: 50%;
}

.search-box input{
  border: 1px solid #3477eb;
  border-radius: 10px;
  width: 100%;
  height: 30px;
  padding-left: 10px;
}